body{
  max-width:1200px ;
}
#nav{
  margin-left: 100px;
}
#nav li  {
  display: inline-block;
  color:#FFFFFF;
  text-decoration: none;
  border-right: 2px solid #FFFFFF;
  padding: 10px;
}
#home {
  border-left:2px solid #FFFFFF;
  padding: 40px;
}
header{
  color: #ffffff;
  background-color: goldenrod;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.site-info{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.site-info img{
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
    align-self: center;
}

.site-info div{
  /*border: 3px solid goldenrod;*/
  padding: 30px;
  border-radius: 5%;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 300px;
  font-size: 5px;
  
}


/* Campus Page */

#add-campus{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.campus-wrapper{
  display: flex;
  justify-content: space-around;
}
.multi-view{
  border: 2px solid black;
  padding: 50px;
}

.multi-view img{
  max-width: 65%;
  max-height: 65%;
  align-self: center;
}


.campus-icon{
  border: 2px solid black;
  padding: 30px;
}





