#nav{
  margin-left: 100px;
}
#nav li  {
  display: inline-block;
  color:#FFFFFF;
  text-decoration: none;
  border-right: 2px solid #FFFFFF;
  padding: 10px;
}
#home {
  border-left:2px solid #FFFFFF;
  padding: 40px;
}
header{
  color: #ffffff;
  background-color: goldenrod;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



